#bx-panel {
    transition: 0.3s ease;
}

#bx-panel:not(.bx-panel-fixed):not(.panel-visible) {
    position: absolute !important;
    width: 100% !important;
}

#bx-panel.panel-visible {
    transform: translateY(0);
    height: auto;
}

#bx-panel-back.panel-back-invisible {
    display: none !important;
}

#bx-panel .button-hidden-panel {
    position: absolute !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 8px 20px !important;
    top: 100%;
    right: 0;
    background: #767f8c url(/bitrix/js/main/core/images/panel/top-panel-sprite-2.png) repeat-x 0 -50px !important;

    border-radius: 0 0 8px 8px;
    box-shadow: 0 6px 7px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    word-break: break-all;
    font-weight: 600;
    z-index: 10001;
    cursor: pointer;
}

#bx-panel .button-hidden-panel span {
    display: block;
    height: 0;
    overflow: hidden;
    transition: 0.3s ease;
}


#bx-panel .button-hidden-panel:before {
    content: '';
    display: block;
    margin-bottom: 3px;
    width: 6px;
    height: 6px;
    border-bottom: 2px solid #ffffff;
    border-right: 2px solid #ffffff;
    transition: 0.3s ease;
    transform: rotate(45deg);
}

#bx-panel .button-hidden-panel.active:before {
    transform: rotate(-135deg);
}

#bx-panel .button-hidden-panel:hover span {
    height: 20px;
}